<div class="container">
  <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown button</button>
  <div class="dropdown-menu">
    <a class="dropdown-item"  (click)="ashokLey()">ashokLey</a>
    <a class="dropdown-item" (click)="cipla()">Cipla</a>
    <a class="dropdown-item" (click)="reliance()">Reliance</a>
    <a class="dropdown-item" (click)="tatasteel()">TataSteel</a>
    <a class="dropdown-item" (click)="eichermot()">Eichermot</a>
  </div>
</div>
</div>

<div class="chart-container" style="position: centre; height:40vh; width:70vw">    
    <canvas id="canvas">{{ Linechart }}</canvas>    
</div>
